.wrapper {
	max-width: 1250px;
	width: 65%;
	margin: 0 auto;
}

.shows {
	background-size: cover;
	background-position: bottom;
	padding: 50px 0;
	.showsContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 30px
	}
}

h1 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22.5px;
	transition: all 1s;
	padding-left: 45px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	// margin: 25px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	p {
		padding: 0 20px;
		margin: 0;
	}

	h3 {
		padding: 0 20px;
		margin: 0;
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		text-transform: uppercase;
	}

	a {
		font-family: 'Crimson Text', serif;
		text-decoration: none;
		color: black;
		padding: 10px;
		text-transform: uppercase;
		font-size: 13px;
		background: rgba(0,0,0,0);
		transition: all 1s;
	}

	a:hover {
		background: rgba(0,0,0,0.15);
		color: white;
	}
}

.location {
 	width: 50%;
 	flex-grow: .9;

 	p {
 		font-family: 'Roboto', sans-serif;
 		text-transform: uppercase;
 		font-weight: lighter;
 		font-size: 23px
 	}

 	p:nth-of-type(2){
 		font-weight: bold;
 		font-size: 12px;
 	}
}


@media (max-width: 770px){
	.wrapper{
		width: 100%;
	}

	h1 {
		text-align: center;
	}

	.row {
		padding: 25px 0;
		flex-direction: column;
		text-align: center;
		a {
			width: 100%;
			padding: 20px;
		}
	}

	.shows {
		padding-bottom: 0;

		.showsContent {
			padding: 20px 0;

			.row {
				padding-bottom: 0;
			}

			h1 {
				padding-left: 0px;
			}

			h3.date, .showName {
				padding-bottom: 10px;
			}
		}
	}

	.location {
		width: 100%;
	}

}
