.videos {
	background: rgb(10, 10, 10);
}

.videoWrapper {
	margin: 0 auto;
	padding: 40px 0;
	width: 95%;
}

.videoContent {
	display: flex;
	padding: 5px 0;
	justify-content: space-between;
}

.videoContainer {
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.videoResponsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoResponsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoText {
	width: 48%;
	color: white;
	padding-top: 20px;
	h2 {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: lighter;
		letter-spacing: 5px;
		transform: scaleY(1.5);
		padding: 20px 0 20px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}

  .descriptions {
		padding-top: 20px;
	}

	p.description {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		line-height: 25px;
		font-weight: lighter;
		color: rgba(255, 255, 255, 0.6);
	}
}

@media (max-width: 770px){
	.videoContent {
		flex-direction: column-reverse;
	}

	.videoText, .videoContainer {
		width: 100%;
	}

	.videoText {
		p.description {
			display: none;
		}

		h2 {
			text-align: center;
			font-size: 20px;
		}
	}
}
